  <h3>Generate ProtonVPN trial account</h3>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <p>Press generate credentials to generate a new set of ProtonVPN credentials</p>
      </div>
      
      <div class="row">
        <div class="copyable-field input-field col s4 offset-s2">
          <a href="#" class="tooltipped" data-tooltip="Tap to copy"><i class="small material-icons">content_copy</i></a>
          <input readonly placeholder="[Username]" id="username" type="text" onclick="select(this)">
          <label for="username">Username</label>
        </div>
        <div class="copyable-field input-field col s4">
          <a href="#" class="tooltipped" data-tooltip="Tap to copy"><i class="small material-icons">content_copy</i></a>
          <input readonly placeholder="[Password]" id="password" type="text" onclick="select(this)">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row"></div>
      <div class="row">
        <a class="waves-effect btn waves-light" id="generateBtn">Generate credentials</a>
        <div class="progress col s6 offset-s3 black hide" id="progressBar">
          <div class="indeterminate deep-purple accent-1"></div>
        </div>
      </div>
      
      
      
    </form> 
  </div>
  
</div>

<script src="/js/bundle.js"></script>